.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  background-color: rgba(255, 255, 255, 0.05);
}

.ql-container.ql-snow {
  border: none !important;
  min-height: 300px;
  font-family: inherit !important;
  font-size: 14px;
}

.ql-editor {
  color: white;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Icons styling for dark mode */
.ql-snow .ql-stroke {
  stroke: rgba(255, 255, 255, 0.7) !important;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: rgba(255, 255, 255, 0.7) !important;
}

.ql-snow .ql-picker {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, 
.ql-snow .ql-toolbar button:hover .ql-stroke, 
.ql-snow.ql-toolbar button:focus .ql-stroke, 
.ql-snow .ql-toolbar button:focus .ql-stroke, 
.ql-snow.ql-toolbar button.ql-active .ql-stroke, 
.ql-snow .ql-toolbar button.ql-active .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: #BEAF87 !important; /* accent color */
}

.ql-snow.ql-toolbar button:hover .ql-fill, 
.ql-snow .ql-toolbar button:hover .ql-fill, 
.ql-snow.ql-toolbar button:focus .ql-fill, 
.ql-snow .ql-toolbar button:focus .ql-fill, 
.ql-snow.ql-toolbar button.ql-active .ql-fill, 
.ql-snow .ql-toolbar button.ql-active .ql-fill, 
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, 
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, 
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, 
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill {
  fill: #BEAF87 !important;
}

.ql-snow.ql-toolbar button:hover, 
.ql-snow .ql-toolbar button:hover, 
.ql-snow.ql-toolbar button:focus, 
.ql-snow .ql-toolbar button:focus, 
.ql-snow.ql-toolbar button.ql-active, 
.ql-snow .ql-toolbar button.ql-active, 
.ql-snow.ql-toolbar .ql-picker-label:hover, 
.ql-snow .ql-toolbar .ql-picker-label:hover, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active, 
.ql-snow.ql-toolbar .ql-picker-item:hover, 
.ql-snow .ql-toolbar .ql-picker-item:hover, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #BEAF87 !important;
}
